.profile_page_outerdiv {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10vh;
    padding-left: 15vh;
}

.profile_page_table {

    border-collapse: collapse;
}

.profile_page_table_col {
    border: solid #2d2d2d 2px;
    height: 40px;
    width: 30vw;
    text-align: left;
    padding-left: 10px;
    border-collapse: collapse;
}


.profile_page_table_col_img {
    border: solid #2d2d2d 2px;
    height: auto;
    width: 30vw;
    padding: 15px;
    border-collapse: collapse;
}

.profile_page_innerdiv {
    background-color: white;
    padding: 50px;
    box-shadow: 5px 5px 2px 2px #f5f5f5;

}

@media screen and (max-width:600px) {
    .profile_page_outerdiv {
        padding-left: 0px;
        padding-top: 5vh;
        overflow-x: hidden;
    }

    .profile_page_table_col {
        padding-left: 5px;
    }


    .profile_page_table_col {
        width: 45vw;
    }

}